<!DOCTYPE html>
<html ng-app="ShoppingListApp">
  <!-- background colour black -->
<style>
  body {
    background-color: black;
    color: white;
    font-size: 1.2em;
  }
</style>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>ng-repeat</title>
  </head>
    <body>
      <h1>ng-repeat</h1>
      <div ng-controller="ShoppingListController">
        <!-- Shopping List #1 -->
        <h3>Shopping List:</h3>
        <ul>
          <li ng-repeat="item in shoppigList1">{{item}}</li>
        </ul>

        <!-- Shopping List #2 -->
        <!-- <ul>
          <li ng-repeat="item in shoppigList2">{{item.quantity}} of {{item.name}}</li>
        </ul> -->
      </div>
    </body>
  
</html>